body{
    font-family: 'Helvetica Neue', sans-serif;
    background-color: rgb(255, 251, 237);
    text-align: center;
    color: rgb(46, 0, 0);
}

.row{
    height: 30px;
    width: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.slider{
    width: 150px;
    height: 20px;
    opacity: 0.7;
    /* outline: none; */
}

.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}


.box{
    height: auto;
    width: 30px;
    background-color: white;
}

.boxhovered{
    background-color: rgb(18, 18, 12);
}